<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div  >
<form  th:action="${saveBks}"  th:object="${bks}"  >
        

        <div class="form-group">
        <input type="text"  class="form-control" th:field="*{title}" id="title"></input>
        </div>

        <div class="form-group">
        <input type="text" class="form-control" th:field="*{author}" id="author" th:placeholder="AUTHOR" ></input>
          
        </div>


        <button name="Submit" value="Submit" type="Submit" ></button>
   </form>
   </div>
</body>
</html>